<p>
<div class="row">
  <div class="large-12 columns">
    <h1>Editing trials_user</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @trials_user %> |
    <%= link_to 'Back', trials_users_path %>
  </div>
</div>
</p>